<style>
    footer {
        background-color: black;
        color: aliceblue;
        height: 20vh;
        display: flex;
        justify-content: center;

  
    }
</style>




<footer>


    <p> All rights Reserved </p>


</footer>