<div>


    {{#each blogsARR}}


    <div style="width: 80%; margin :auto">
        {{this.blogTitle}}
        {{this.blogDescShort}}
        <a href="/blogs/{{this._id}}"> Read more.... </a>
    </div>

    {{/each}}



</div>